.x-control:where([data-controller~="x-control-select"]) {
  position: relative;
  cursor: pointer;

  & :where(select) {
    pointer-events: none;
  }

  & :where(div[aria-hidden]) {
    border-radius: var(--x-control-select-picker-border-radius);
    border:
      var(--x-control-select-picker-border-width) solid
      color-mix(
        in var(--x-control-select-picker-border-color-space, srgb),
        var(--x-control-select-picker-border-color) var(--x-control-select-picker-border-color-opacity, 15%),
        var(--x-control-select-picker-border-color-mix, transparent)
      );
    background-color: var(--x-control-select-picker-background-color);
    margin-block: var(--x-control-select-picker-margin-block);
    padding-block: var(--x-control-select-picker-padding-block);
    padding-inline: var(--x-control-select-picker-padding-inline);
    gap: var(--x-control-select-picker-gap);
    scrollbar-color: var(--x-control-select-picker-scrollbar-color);
    transition-property: var(--x-control-select-picker-transition-property, var(--default-transition-property));
    transition-duration: var(--x-control-select-picker-transition-duration, var(--default-transition-duration));
    transition-timing-function: var(--x-control-select-picker-transition-timing-function, var(--ease-in-out));
    transition-behavior: allow-discrete;
    will-change: var(--x-control-select-picker-will-change, transform, opacity);
    opacity: var(--x-control-select-picker-closed-opacity, 0);
    transform: var(--x-control-select-picker-closed-transform, scale(0.9));
    display: flex;
    flex-direction: column;
    cursor: auto;
    transform-origin: top center;
    scrollbar-width: thin;
    grid-area: x-control;
    position: absolute;
    z-index: var(--z-index-10);
    inset-inline: 0;
    top: 100%;
    backface-visibility: hidden;
    user-select: none;
    max-height: 12rem;
    overflow-y: auto;
    visibility: hidden;

    & [data-option] {
      padding-block: var(--x-control-select-option-padding-block);
      padding-inline: var(--x-control-select-option-padding-inline);
      font-size: var(--x-control-select-option-font-size);
      font-weight: var(--x-control-select-option-font-weight);
      line-height: var(--x-control-select-option-line-height);
      border-radius: var(--x-control-select-option-border-radius);
      transition: var(--transition-background), var(--transition-color);
      cursor: pointer;

      &[data-disabled] {
        opacity: 0.5;
        pointer-events: none;
      }

      &[data-active] {
        color: var(--x-control-select-option-checked-color, var(--color-accent));
        background-color:
          color-mix(
            in var(--x-control-select-option-checked-background-color-space, srgb),
            var(--x-control-select-option-checked-background-color, var(--color-accent)) var(--x-control-select-option-checked-background-color-opacity, 10%),
            var(--x-control-select-option-checked-background-color-mix, transparent)
          );
      }

      &:hover {
        background-color: var(--x-control-select-option-hocus-background-color);
      }
    }
  }

  &:focus-within:not(:has(:focus-visible)) {
    &::after {
      transform: var(--x-control-select-open-icon-transform, rotate(180deg));
    }

    select ~ div[aria-hidden] {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
  }
}